<form method="POST" class="card login-form">
  <header class="card-header">
    <p class="card-header-title">
      Registration
    </p>
  </header>
  <div class="card-content">
    <%- include("./error", { messages: authMessages }) %>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" name="username" placeholder="Username">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="email" name="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="password" name="password" placeholder="Password" autocomplete="off">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <hr>
    <p class="title is-size-5">Please, answer some questions</p>
    <p class="subtitle is-size-6">
      In order to answer all questions, you'll have to read the
      <a href="#rules">server rules</a>
    </p>
    <% for (let q of questions) { %>
      <div class="control">
        <p class="mb-2 mt-4 title is-size-6"><%= q.question %></p>
        <% for (let a of q.answers) { %>
          <p><label class="radio">
            <input type="radio" name="<%= q.id %>" value="<%= a.id %>">
            <%= a.text %>
          </label></p>
        <% } %>
      </div>
    <% } %>
    <hr>
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" name="server-terms-accept">
        I accept the server terms of service.
      </label>
    </div>
    <hr>
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <button class="button is-primary">
          Sign up
        </button>
      </p>
    </div>
  </div>
</form>